.LoginP {
  margin: 0;
  padding: 0;
}

.logindivs {
  display: flex;
  background-color: #80ffaa;
  justify-content: center;
  height: 100vh;

}

.loginData {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.two {
  height: 390px;
  width: 450px;
  margin-top: 20px;
  margin-left: 200px;
  border-radius: 10px;
  margin-top: 100px;
}

li {
  list-style-type: none;
  margin-top: 10px;
}

input {
  height: 30px;
  border-radius: 5px;
}

.logB {
  background-color: green;
  padding: 10px 40px;
  border: none;
  margin-left: 30px;
}

.medImg {
  width: 550px;
  margin-top: 50px;
}